.DS_Store
.idea/
node_modules/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.yarn-integrity
.npm
.env.local
.env.development
.env.production

.eslintcache

*.tsbuildinfo

.next
.vercel
.env
lib/vfs-defaults/manifest.json
